body{
  margin:0;
  .wrapper {
    .page-navigation{
      position: absolute;
      top: 25%;
      right: 10%;
      text-align: right;
      .page-navigation__blow{
        float: left;
        font-weight: 900;
        font-size: 21px;
      }
      a{
        text-decoration:none;
        color: #000000;
      }
      .button-home{
        background: #000000;
        color: white;
        border: none;
        border-radius: 20px;
      }
      @media (max-width: 560px) {
        a {
          color: #ffffff;
        }
          .page-navigation__blow {
            float: none;
            color: #000000;
            margin-right: 9%;
        }
      }
      @media (max-width: 480px) {
        font-size:13px;
      }
    }
    .explore-work{
      position:absolute;
      top: 70%;
      left: 47%;
      background: #000000;
      border: none;
      color: #f0cdab;
      width:150px;
      height:30px;
      border-radius: 20px;
      font-size: 9px;
      cursor: pointer;
      @media (max-width: 1024px) {
        top: 76%;
        left: 44%;
      }
      @media (max-width: 768px) {
        font-size:15px;
        left: 42%;
      }
      @media (max-width: 560px) {
        left: 41%;
        top: 73%;
        width: 26%;
        height: 5%;
        font-size: 15px;
      }
      @media (max-width: 480px) {
        width: 190px;
        height: 40px;
        font-size: 20px;
        left: 43%;
      }
    }
    .information-text{
      position: absolute;
      transform: rotate(270deg);
      top:50%;
      font-size: 16px;
      text-transform: uppercase;
      @media (max-width: 1024px) {
        left: -59px;
      }
      @media (max-width: 768px) {
        left: -14%;
        font-size: 19px;
      }
      @media (max-width: 560px) {
        font-size:14px;
      }
      @media (max-width: 480px) {
        left: -18%;
      }

      .information-text__left{
        color: black;
        font-weight: 900;
      }
      .information-text__have{
        color: #b3b3b3;
      }
    }
    .small-logo{
      position: absolute;
      top: 77%;
      left: 100px;
      @media (max-width: 991px) {
       display: none;
      }
      @media (max-width: 1024px) {
        top: 80%;
        left: 52px;
      }
      @media (max-width: 991px) {
        top: 80%;
        left: 49px;
      }
      @media (max-width: 768px) {
        display:none;
      }
    }
  }
}

